Node-RED_Neopixel_flow.json
[{"id":"cd34574f.5ed748","type":"tab","label":"Node-RED_Neopixel_flow.json","disabled":false,"info":""},{"id":"541a4d68.a88ee4","type":"ui_colour_picker","z":"cd34574f.5ed748","name":"Color Picker","label":"COLOR PICKER","group":"d06a6848.c88158","format":"rgb","outformat":"string","showSwatch":true,"showPicker":true,"showValue":true,"showAlpha":false,"showLightness":true,"order":1,"width":0,"height":0,"passthru":true,"topic":"","x":210,"y":200,"wires":[["316ceca0.1bda94"]]},{"id":"316ceca0.1bda94","type":"function","z":"cd34574f.5ed748","name":"Set Color","func":"var count = global.get('count')||0;\nmsg.payload = msg.payload.replace(/[rgb()\\s]/g,\"\");\nif(count===0){\n    msg.payload = msg.payload;\n}\nelse{\n    msg.payload = (count-1) + \",\" + msg.payload;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":200,"wires":[["c8cfec3a.18549"]]},{"id":"5341ea6d.1bb054","type":"ui_numeric","z":"cd34574f.5ed748","name":"Select LED","label":"LED SELECTED","tooltip":"","group":"d06a6848.c88158","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"14","step":1,"x":214,"y":143,"wires":[["63df6c04.80d874","39ac91b1.3bf7de"]]},{"id":"63df6c04.80d874","type":"function","z":"cd34574f.5ed748","name":"Selected LED","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = global.get('count')||0;\n\n// store the value back\nglobal.set('count',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":464,"y":103,"wires":[[]]},{"id":"82495f66.2d395","type":"ui_button","z":"cd34574f.5ed748","name":"Clear","group":"d06a6848.c88158","order":6,"width":0,"height":0,"passthru":false,"label":"CLEAR","color":"","bgcolor":"","icon":"","payload":"0,0,0","payloadType":"str","topic":"","x":191,"y":315,"wires":[["c8cfec3a.18549"]]},{"id":"39ac91b1.3bf7de","type":"ui_slider","z":"cd34574f.5ed748","name":"Select LED","label":"SELECT LED","tooltip":"","group":"d06a6848.c88158","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"14","step":1,"x":214,"y":63,"wires":[["63df6c04.80d874","5341ea6d.1bb054"]]},{"id":"ab445821.9851b8","type":"ui_dropdown","z":"cd34574f.5ed748","name":"Select Strip Color","label":"SELECT STRIP COLOR","place":"SELECT STRIP COLOR","group":"d06a6848.c88158","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"RED","value":"255,0,0","type":"str"},{"label":"GREEN","value":"0,255,0","type":"str"},{"label":"BLUE","value":"0,0,255","type":"str"},{"label":"WHITE","value":"255,255,255","type":"str"},{"label":"PURPLE","value":"255,0,255","type":"str"},{"label":"CYAN","value":"0,255,255","type":"str"},{"label":"YELLOW","value":"255,255,0","type":"str"}],"payload":"","topic":"","x":227,"y":256,"wires":[["c8cfec3a.18549"]]},{"id":"191c6118.d0a74f","type":"function","z":"cd34574f.5ed748","name":"Rainbow Effect","func":"var numberOfLEDs = 14;\n\nfor(i=0; i<255; i++){\n    \n    for(j=0; j<numberOfLEDs; j++){\n        \n        var pos = 0;\n        pos = Math.round(((j*255/numberOfLEDs)+i))&255;\n        \n        if(pos<85){\n            var red = pos*3;\n            var green = 255-pos*3;\n            var blue = 0;\n        }\n        else if(pos < 170){\n            pos -= 85;\n            var red = 255 - pos*3;\n            var green = 0;\n            var blue = pos*3;\n        }\n        else{\n            pos -= 170;\n            var red = 0;\n            var green = pos*3;\n            var blue = 255-pos*3;\n        }\n        var setColor = j+','+ red +','+ green +','+ blue;\n        node.send({payload:setColor});\n    }\n}","outputs":1,"noerr":0,"x":342,"y":425,"wires":[["8ae5d59a.bbc768"]]},{"id":"5edac1d9.a668c","type":"ui_button","z":"cd34574f.5ed748","name":"Rainbow Effect","group":"d06a6848.c88158","order":5,"width":0,"height":0,"passthru":false,"label":"START RAINBOW EFFECT","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":180,"y":374,"wires":[["191c6118.d0a74f"]]},{"id":"8ae5d59a.bbc768","type":"delay","z":"cd34574f.5ed748","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.001","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":495,"y":366,"wires":[["c8cfec3a.18549"]]},{"id":"c8cfec3a.18549","type":"rpi-neopixels","z":"cd34574f.5ed748","name":"WS2812B LED STRIP","pixels":"14","bgnd":"","fgnd":"","wipe":"60","mode":"pixels","rgb":"rgb","brightness":"100","gamma":true,"x":580.5,"y":290,"wires":[]},{"id":"d06a6848.c88158","type":"ui_group","z":"","name":"LED STRIP CONTROL WS2812B ","tab":"2ebab1bd.30345e","order":1,"disp":true,"width":"6","collapse":false},{"id":"2ebab1bd.30345e","type":"ui_tab","z":"","name":"HSBC IoT Session","icon":"highlight","order":1,"disabled":false,"hidden":false}]